<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
    <div class="nav_container">
      <nav class="nav_bar">
        <ul class="horizontal">
          <% if !logged_in? %><li class="pipe-separate t-white left"><a href="/register">register</a></li><%end%>
          <% if logged_in? %><li class="pipe-separate t-white left"><%= current_user.username %></li><%end%>
          <% if !logged_in? %><li class="pipe-separate t-white left"><a href="/login">login</a></li><%end%>
          <% if logged_in? %><li class="pipe-separate t-white left"><a href="/logout">logout</a></li><%end%>
          <li class="pipe-separate t-white left"><a href="/">home</a></li>
        </ul>
      </nav>
    </div>
<h1>Flashcards</h1>
  <%= yield %>
</body>
</html>
