ul.horizontal {
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
  display: inline-block;
  list-style-type: none;
  padding: 15px;
}

li a, a:visited {
  color: #6699ff;
}

li a:hover {
  color: #FFFFFF;
}

.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}

.pipe-separate:first-of-type {
  padding-left: 10;
}

.pipe-separate:last-of-type {
  padding-right: 0;
  border-right: none;
}

.t-black {
  color: #000000;
}

.container {
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}