<p>This is where all cards are displayed for <%= @deck.name %></p>

<h1><%= @deck.name %> Trivia</h1>
	<form method="post" action="/decks/<%= @deck.id %>/cards/<%=  %>">
		<input type="" name="" value="">
		<input type="button" name="submit" value="Submit">
	</form>